{% extends "base.html" %}

{% block title %}<title>User Page</title>{% endblock %}
{% block header_content %}
<h1>Hey {{ session['name'] }}!</h1>
<h4>Create or View Blogs Here!</h4>

{% endblock %}

{% block content %}

<a href="/view_posts">
	<button type="button" id="view_button">View Posts</button>
</a>



<a href="/post">
	<button type="button" id="post_button">+</button>
</a>



<a href="/view_my_posts">
	<button type="button" id="view_my_button">View My Posts</button>
</a>



<a href="/logout">
	<button type="button" class="back_button">Logout</button>
</a>
{% endblock %}