{% extends "base.html" %}

{% block title %}<title>User Page</title>{% endblock %}
{% block header_content %}
<h1>Hey {{ username }}!</h1>
<h4>Create or View Blogs Here!</h4>

{% endblock %}

{% block content %}

<form action="/view_posts" method="GET">
	<button type="submit" id="view_button">View Posts</button>
</form>

<form action="/post" method="GET">
	<button type="submit" id="post_button">+</button>
</form>

<form action="/view_my_posts" method="GET">
	<button type="submit" id="view_my_button">View My Posts</button>
</form>

<form action="/logout" method="GET">
	<button type="submit" class="back_button">Logout</button>
</form>
{% endblock %}